@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    scroll-behavior: smooth;
    background-color: #151515;
    font-family: 'Montserrat', sans-serif;
    color: #e5e5e2;
    display: flex;
}

.form-group {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 400px;
    padding: 0px 60px 0px 60px;
    border: 3px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: 0.2s;

}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-message {
    color: #E966A0;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

}